form.form-location {
    padding: 5% 11%;
    h2 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.1px;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.1px;
    }
    .row {
        padding-top: 20px;
    }
    .required {
        color: red;
        font-style: italic;
    }
    .form-content {
        margin-left: -30px;
        p {
            padding-top: 20px;
        }
        p:first-child {
            padding-top: 0px;
        }
        .list-project {
            color: #3acaaa;
            display: block;
            text-decoration: underline;
            font-size: 13px;
            padding: 15px 0;
        }
        .first {
            padding-left: 0;
        }
    }
    agm-map {
        height: 335px;
    }
    .form-control {
        margin-top: 7px;
    }
    .ggMap {
        padding-top: 5px;
    }
    .no-value{
        color: rgba(151, 151, 151, 0.5);
    }
    .no-value option {
        color: #555555;
    }
    .form-control[readonly] {
        background: #fff;
        cursor: not-allowed;
    }
    .form-control[disabled] {
        background: #fff;
        cursor: not-allowed;
    }
}
