<div class="container-fluid">
    <form class="form-property" [formGroup]="formValues">
        <h2>Property Description</h2>
        <div formGroupName="desc" class="row form-content m-0">
            <div class="col-md-6 p-0">
                <div formGroupName="title" class="p-0 mt-3 mb-3">
                    <p>Title (Vietnamese)
                        <span class="required">*</span>
                    </p>
                    <input formControlName="vi" class="form-control" type="text" placeholder="Title in Vietnamese" />
                    <div class="required" *ngIf="formValues['controls'].desc['controls'].title['controls'].vi.invalid && (formValues['controls'].desc['controls'].title['controls'].vi.touched || formValues['controls'].desc['controls'].title['controls'].vi.dirty)">Tile is required</div>
                </div>
                <div style="padding-top: 20px;" formGroupName="description">
                    <p>Description (Vietnamese)
                        <span class="required">*</span>
                    </p>
                    <textarea formControlName="vi" rows="5" placeholder="Type your description in Vietnamese" matInput
                        class="form-control"></textarea>
                    <div class="required" *ngIf="formValues['controls'].desc['controls'].description['controls'].vi.invalid && (formValues['controls'].desc['controls'].description['controls'].vi.touched || formValues['controls'].desc['controls'].description['controls'].vi.dirty)">Desciption is required</div>
                </div>
            </div>
            <div class="col-md-6">
                <div formGroupName="title" class="p-0 mt-3 mb-3"> 
                    <p>Title (English)
                        <span class="required">*</span>
                        <span class="auto-translate">Auto - Translate</span>
                    </p>
                    <input formControlName="en" class="form-control" type="text" placeholder="Title in English" />
                    <div class="required" *ngIf="formValues['controls'].desc['controls'].title['controls'].en.invalid && (formValues['controls'].desc['controls'].title['controls'].en.touched || formValues['controls'].desc['controls'].title['controls'].en.dirty)">Tile is required</div>
                </div>
                <div  style="padding-top: 20px;" formGroupName="description">
                    <p>Description (English)
                        <span class="required">*</span>
                        <span class="auto-translate">Auto - Translate</span>
                    </p>
                    <textarea formControlName="en" rows="5" placeholder="Type your description in English" matInput
                        class="form-control"></textarea>
                    <div class="required" *ngIf="formValues['controls'].desc['controls'].description['controls'].en.invalid && (formValues['controls'].desc['controls'].description['controls'].en.touched || formValues['controls'].desc['controls'].description['controls'].en.dirty)">Desciption is required</div>
                </div>
            </div>
        </div>
        <div formGroupName="medias" class="row form-content m-0">
            <div class="col-md-12 p-0">
                <p>Photos & Videos
                    <span class="required">*</span>
                </p>
                <div class="form-group w-100 col-12 upload-box">
                    <div class="row">
                        <div class="" style="display: inline-block;">
                            <label class="label-upload" for="fileUpload">
                                Upload Photos
                            </label>
                            <br>
                            <app-show-errors></app-show-errors>
                        </div>
                        <span class="upload-note">
                            You can upload to 20 photos (jpg or png, <6MB) </span> <span class="text-upload">Drag to change photo position: First photo will be the main photo of the listing</span></div> <div class="row">
                                <app-upload [multi]="multi" (fileUploaded)='handleUploadSuccess($event)' classStyle="propertyDetailListing"></app-upload>

                    </div>

                </div>
                <p>Video URL (Youtube, Vimeo)</p>
                <input formControlName="link" class="form-control" type="text" placeholder="E.g. https://www.youtube.com/watch?v=hT_nvWreIhg" />
            </div>
        </div>
    </form>
</div>
