<div class="topnav navbar{{propertyNavbar}}">
    <a routerLink="/" class="brand">
        <img src="/assets/images/home-pro-logo.svg" />
    </a>
    <a *ngFor="let item of menu.menu" routerLink="{{item.link}}" routerLinkActive="active">
        <span>{{item.name}}</span>
    </a>

    <div class="topnav-right">
        <div class="setting">
            <div *ngIf="menu.havingInformation" class="d-inline-block user-setting">
                <span>
                    <img src="assets/images/bell.svg" />
                </span>
                <span>
                    <img src="assets/images/star.svg" />
                </span>
                <span>
                    <img src="assets/images/cart.svg" />
                </span>
                <span class="divide"></span>
            </div>
            <div *ngIf="menu.havingInformation" ngbDropdown placement="bottom-right" class="d-inline-block">
                <div class="user-info" ngbDropdownToggle>
                    <img src="/assets/images/avatar.png" />
                    <div class="info">
                        <div class="username">{{(user | async)?.email}}</div>
                        <div class="credit-section">20.000.000 Credits</div>
                    </div>
                </div>
                <div ngbDropdownMenu>
                    <button class="dropdown-item">Another Action</button>
                    <button class="dropdown-item">Something else is here</button>
                </div>
            </div>
            <div *ngIf="menu.chooseLanguage" ngbDropdown placement="bottom-right" class="d-inline-block choose">
                <div class="user-info" ngbDropdownToggle>
                    <img src="/assets/images/earth.svg" />
                    <div class="info">{{languageChosen.name}}</div>
                </div>
                <div ngbDropdownMenu>
                    <span class="title-header">{{ languageChosen.name == 'VN' ? 'Ngôn ngữ' : 'Language' }}</span>
                    <button *ngFor="let item of languages" class="dropdown-item" (click)="changeLanguage(item.name)">{{item.translate[languageChosen.name.toLowerCase()]}}</button>
                </div>
            </div>
            <div *ngIf="menu.chooseLanguage" ngbDropdown placement="bottom-right" class="d-inline-block choose">
                <div class="user-info" ngbDropdownToggle>
                    <div class="info">{{currencyChoosen.name}}</div>
                </div>
                <div ngbDropdownMenu>
                    <span class="title-header">{{ currencyChoosen.name == 'VN' ? 'Tiền tệ' : 'Currency' }}</span>
                    <button *ngFor="let item of listCurrency" class="dropdown-item" (click)="changeCurrency(item.name)">{{item.translate[currencyChoosen.name.toLowerCase()]}}</button>
                </div>
            </div>
        </div>
        <span class="icon">
            <i class="fa fa-bars"></i>
        </span>
    </div>
</div>
