<div class="row">
    <section class="team-section text-center col-12">
        <div class="row">
            <div class="col-lg-3 col-md-3 mb-lg-0 mb-5" *ngFor="let item of values">
                <app-card-value-item [item]="item"></app-card-value-item>
            </div>
        </div>
        <div class="text-center pt-4">
            <!-- <button class="btn btn-cyan waves-light btn-red" type="submit" mdbWavesEffect>Become a member</button> -->
            <img src="assets/images/become-member.png" alt="Become member">
        </div>
    </section>
</div>
