.chart,
.group,
.setting,
.group-2 {
  display: inline-block;
  background: url('/assets/sprites/sprite-home-pro.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.oval {
  width: 111px;
  height: 111px;
  // border: solid 2px #ffffff;
  // border-radius: 45px;
  .card-item {
    margin-top: 18px;
  }
  .chart {
    background-position: -248px -2115px;
    width: 50px;
    height: 50px;
  }
  .group {
    background-position: -220px -2645px;
    width: 50px;
    height: 50px;
  }
  .setting {
    background-position: -250px -2745px;
    width: 50px;
    height: 50px;
  }
  .group-2 {
    background-position: -170px -2645px;
    width: 50px;
    height: 50px;
  }
}

.header-section {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #ffffff;
}

.header-content {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}

.divide {
  width: 52px;
  height: 2px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
