.header-section {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #555555;
}

.header-content {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #555555;
}

.img-client {
  width: 165px;
  height: 165px;
  background-color: #d8d8d8;
  border: solid 1px #979797;
}
