<div class="oval avatar mx-auto">
    <div class="text-center">
        <img src="{{ item.image }}" alt="{{ item.header }}">
    </div>
</div>
<div class="divide"></div>
<p *ngIf="item.header" class="font-weight-bold mt-3 mb-3 header-section">{{item.header}}</p>
<p class="header-content">{{item.content}}</p>
