.person,
.mail,
.help,
.flat,
.stamp,
.laptop {
  display: inline-block;
  background: url('/assets/sprites/sprite-home-pro.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.file {
  background: url('/assets/images/file.png') no-repeat;
}
.oval {
  // width: 90px;
  // height: 90px;
  // border: solid 2px #555555;
  // border-radius: 45px;
  position: relative;
  .card-item {
    margin-top: 18px;
  }
  .person {
    background-position: -50px -2700px;
    width: 50px;
    height: 50px;
  }
  .mail {
    background-position: -0px -2700px;
    width: 50px;
    height: 50px;
  }
  .help {
    background-position: -120px -2690px;
    width: 50px;
    height: 50px;
  }
  .flat {
    background-position: -120px -2640px;
    width: 50px;
    height: 50px;
  }
  .stamp {
    background-position: -0px -2750px;
    width: 50px;
    height: 50px;
  }
  // .file {
  //   background-position: -248px -2165px;
  //   width: 50px;
  //   height: 50px;
  // }
  .laptop {
    background-position: -220px -2695px;
    width: 50px;
    height: 50px;
  }
  .px-interrupt.top-left {
    // width: 25px;
    // height: 40px;
    // position: absolute;
    // background: rgb(177, 123, 123);
    // top: 20px;
    // left: -9px;
    width: 38px;
    height: 43px;
    position: absolute;
    background: #f5f5f5;
    top: -15px;
    left: -6px;
  }
  .px-interrupt.right-cr {
    width: 25px;
    height: 40px;
    position: absolute;
    background: #f5f5f5;
    top: 20px;
    right: -9px;
  }
  .px-interrupt.top-right {
    width: 25px;
    height: 40px;
    position: absolute;
    background: #f5f5f5;
    top: 0px;
    right: -5px;
  }
  .px-interrupt.top {
    width: 37px;  
    height: 27px;
    position: absolute;
    background: #f5f5f5;
    top: -15px;
    left: 9px;
  }
}

.header-section {
  // font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  text-align: center;
  color: #555555;
  font-weight: 550;
  font-size: 17px;
  margin-bottom: 10px !important; 
}

.header-content {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 20px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #555555;
}

.divide {
  width: 52px;
  height: 2px;
  background-color: #e4375c;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 15px;
}


.file {
  background-position: 0 0;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-size: 50px 50px;
  text-align: center;
}