<div class="container-fluid" [formGroup]="formValues">
    <form class="form-duration" formGroupName="promotions">
        <h2>Duration</h2>
        <div class="col-12">
            <div class="row table-custom">
                <div class="row m-0 titleListAgents">
                    <div class="col-6 p-0">
                        <span class="title-contact">Renew Options</span>
                    </div>
                    <div class="col-6 p-0">
                        <span class="title-contact">Start Time</span>
                    </div>
                </div>
                <div class="row m-0 titleListAgents-mobile">
                    <div class="col-12 p-0">
                        <span class="title-contact">>Renew Options & Start Time</span>
                    </div>
                </div>
                <div class="listAllAgents">
                    <div class="row engineer">
                        <div class="col-12 col-lg-6 p-0">
                            <div>
                                <label class="custom-radio">30 days (đ 45,000)
                                    <input formControlName="isRenew" type="radio" value="0">
                                    <span class="radio-checkmark"></span>
                                </label>
                                <label style="margin-top: 20px" class="custom-radio">Good Til Cancelled
                                    <input formControlName="isRenew" type="radio" value="1">
                                    <span class="radio-checkmark"></span>
                                </label>
                                <div class="text-promote">
                                    Listing renews automatically every 30 days based on the listing terms at the
                                    time,
                                    until the listing ends or is sold/rent/swapped. Each time a listing renewsm
                                    you’ll be
                                    charged applicable fees.
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 p-0 commission">
                            <div>
                                <label class="custom-radio">Start this listing when I submit
                                    <input type="radio" name="startTime" value="startWhenSubmit">
                                    <span class="radio-checkmark"></span>
                                </label>
                                <div class="flex-display">
                                    <label style="margin-top: 12px" class="custom-radio">
                                        Schedule to start on
                                        <input type="radio" name="startTime" value="tilCanceled">
                                        <span class="radio-checkmark"></span>
                                    </label>
                                    <div class="input-group">
                                        <input formControlName="publishedAt" class="form-control" placeholder="yyyy-mm-dd"
                                            name="dp" ngbDatepicker #d="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                                type="button">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
