<app-client-header></app-client-header>
<div [hidden]="!loading">
    <app-client-loading></app-client-loading>
</div>
<div [hidden]="loading">
    <router-outlet></router-outlet>
    <app-client-footer *ngIf="href == '/home' || href == '/'"></app-client-footer>
</div>

