<div class="container-fluid" [formGroup]="formValues">
    <form class="form-promote" formGroupName="promotions">
        <h2>Promote This Listing</h2>
        <p class="promote-attach-text">Attact more clients with our promotion tools</p>
        <div class="row m-0">
            <p class="promote-duration-text">Duration</p>
            <div class="row form-content w-100">
                <div class="col-12">
                    <div class="group-swap">
                        <div class="flex-display">
                            <div class="btn-group btn-group-toggle" ngbRadioGroup>
                                <label ngbButtonLabel class="btn-default check-swap active">
                                    <input formControlName="numberDays" ngbButton type="radio" checked value="1">
                                    1 day
                                </label>
                                <label ngbButtonLabel class="btn-default check-swap">
                                    <input formControlName="numberDays" ngbButton type="radio" value="7"> 7
                                    days
                                </label>
                                <label ngbButtonLabel class="btn-default check-swap">
                                    <input formControlName="numberDays" ngbButton type="radio" value="14">
                                    14 days
                                </label>
                            </div>
                            <div class="flex-display">
                                <div style="margin: 12px 0 0 20px">
                                    Run this promotion until
                                </div>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                                    <div style="display: initial" class="input-group-append">
                                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <!-- TODO: RESTYLE -->
            <div class="row m-0 pt-5">
                <div class="row form-content w-100">
                    <div class="col-12 col-lg-8">
                        <div class="row table-custom">
                            <div class="row m-0 titleListAgents">
                                <div class="col-6 p-0">
                                    <span style="margin-left: 80px" class="title-contact">Promotion</span>
                                </div>
                                <div class="col-3 p-0">
                                    <span class="title-contact">Price</span>
                                </div>
                                <div class="col-3 p-0">
                                    <span class="title-contact">Fees</span>
                                </div>
                            </div>
                            <div class="row m-0 titleListAgents-mobile">
                                <div class="col-12 p-0">
                                    <span class="title-contact">>Promotion & Fees</span>
                                </div>
                            </div>
                            <div class="listAllAgents">
                                <div class="row m-0 divide">
                                    <div class="col-6 p-0 flex-display">
                                        <div class="check">
                                            <div class="checkbox-section">
                                                <label>
                                                    <input (click)="handleChoosePackage($event)" type="checkbox" value="1">
                                                    <div class="animations">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="info-agents">
                                            <div class="image-avatar">
                                                <img src="assets/images/launch.svg" alt="New Listing" style="max-width: 24px">
                                            </div>
                                            <div class="list-info">
                                                <p class="name-agents">
                                                    New Listing
                                                </p>
                                                <p class="contact-agents">
                                                    This is our best option to Sell/rent it quic!
                                                    <br />
                                                    Be visiblie on the 1st banner of hosiana.vn
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0 commission">
                                        đ 500,000/day
                                    </div>
                                    <div class="col-3 p-0 commission">
                                        <span class="fee-content">đ 500,000</span>
                                    </div>
                                </div>
                                <div class="row m-0 divide">
                                    <div class="col-6 p-0 flex-display">
                                        <div class="check">
                                            <div class="checkbox-section">
                                                <label>
                                                    <input (click)="handleChoosePackage($event)" type="checkbox" value="2">
                                                    <div class="animations">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="info-agents">
                                            <div class="image-avatar">
                                                <img src="assets/images/promote-pink.svg" alt="New Listing" style="max-width: 24px">
                                            </div>
                                            <div class="list-info">
                                                <p class="name-agents">
                                                    Booster
                                                </p>
                                                <p class="contact-agents">
                                                    Boost this listing<br />
                                                    Show customers how many potential clients contact you for this
                                                    property
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0 commission">
                                        đ 500,000/day
                                    </div>
                                    <div class="col-3 p-0 commission">
                                        <span class="fee-content">đ 500,000</span>
                                    </div>
                                </div>
                                <div class="row m-0 divide">
                                    <div class="col-6 p-0 flex-display">
                                        <div class="check">
                                            <div class="checkbox-section">
                                                <label>
                                                    <input (click)="handleChoosePackage($event)" type="checkbox" value="3">
                                                    <div class="animations">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="info-agents">
                                            <div class="image-avatar">
                                                <img src="assets/images/discount.svg" alt="New Listing" style="max-width: 24px">
                                            </div>
                                            <div class="list-info">
                                                <p class="name-agents">
                                                    Discounter
                                                    <input class="discount-input" type="text" id="discount-percent"
                                                        name="discount-percent" />
                                                    &nbsp;%
                                                </p>
                                                <p class="contact-agents">
                                                    Your double the number of potential clients.<br />
                                                    Enter now the discount you offer, this listing will be displayed in
                                                    the 1st page
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0 commission">
                                        đ 500,000/day
                                    </div>
                                    <div class="col-3 p-0 commission">
                                        <span class="fee-content">đ 500,000</span>
                                    </div>
                                </div>
                                <div class="row m-0 divide">
                                    <div class="col-6 p-0 flex-display">
                                        <div class="check">
                                            <div class="checkbox-section">
                                                <label>
                                                    <input (click)="handleChoosePackage($event)" type="checkbox" value="4">
                                                    <div class="animations">
                                                        <i class="fa fa-check"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="info-agents">
                                            <div class="image-avatar">
                                                <img src="assets/images/border.svg" alt="New Listing" style="max-width: 24px">
                                            </div>
                                            <div class="list-info">
                                                <p class="name-agents">
                                                    Border
                                                </p>
                                                <p class="contact-agents">
                                                    Make a difference to your listing<br />
                                                    Title and pictures are bold and border
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0 commission">
                                        đ 500,000/day
                                    </div>
                                    <div class="col-3 p-0 commission">
                                        <span class="fee-content">đ 500,000</span>
                                    </div>
                                </div>
                                <div class="row m-0">
                                    <div class="col-6 p-0 flex-display">
                                        <app-toggle-switch></app-toggle-switch>
                                        <div class="info-agents">
                                            <div class="list-info">
                                                <p class="contact-agents">
                                                    Auto-renew this promotion
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3 p-0 commission">
                                        Total Fees
                                    </div>
                                    <div class="col-3 p-0 commission">
                                        <span class="fee-content">đ 3,000,000</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 preview-card">
                        <p class="note">Preview your listing</p>
                        <!-- <div *ngIf="previewItem.isNew" class="new-02"></div> -->
                        <div [ngClass]="{'new-02': previewItem.isNew}">
                            <div class="card view z-depth-2" >
                                <img src="{{previewItem.image}}" class="card-img-top img-fluid img-item" alt="Preview your listing">
                                <div *ngIf="previewItem.isHavingGift" class="gift-section">
                                    <div class="gift"></div>
                                </div>
                                <div class="type-section">
                                    <button class="btn-sale" *ngIf="previewItem.type === 'sale'">Sale</button>
                                    <button class="btn-rent" *ngIf="previewItem.type === 'rent'">Rent</button>
                                    <button class="btn-swap" *ngIf="previewItem.type === 'swap'">Swap</button>
                                </div>
                                <div class="card-body">
                                    <p class="card-title">{{previewItem.title}}</p>
                                    <p class="card-location">
                                        <span class="location"></span>&nbsp;
                                        <span>{{previewItem.location}}</span>
                                    </p>
                                    <p class="card-price">{{previewItem.price}}</p>
                                    <p class="card-slogan">Hurry up! More than 2 people have contacted the agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>