.card {
  margin-top: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  .divide-red {
    height: 7px;
    background-color: #e4375c;
  }
  .rc-anchor-light.rc-anchor-normal {
    transform: scale(0.77);
    transform-origin: 0 0;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: 12.5%;
  }
  .btn-red {
    background-color: #e4375c !important;
    text-transform: none;
    font-size: 16px;
    padding: 7px 35px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.6px;
    border-radius: 2px;
    color: #fff;
  }
  .forgot-password {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    cursor: pointer;
    letter-spacing: 0.5px;
    color: #555555;
    margin-top: 7px;
  }
  .group-form {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    input {
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      outline: none;
      box-shadow: none;
      border: 1px solid #979797;
      // border: none;
      // border-bottom: 1px solid #ced4da;
      border-radius: 0;
      box-sizing: content-box;
      background-color: transparent;
      box-sizing: border-box;
    }
    input:focus {
      box-shadow: 0 1px 0 0 #979797;
      // border-bottom: 1px solid #4285f4;
    }
    .grey-text {
      color: #9e9e9e !important;
    }
  }
}
.checkbox-section {
    label {
        margin-right: 10px;
        input[type="checkbox"] {
            display: none;
        }
        .animations {
            border-radius: 3px;
            border-color: #aaaaaa;
            color: #fff;
            display:inline-block;
            background-color: transparent;
            transition: border-color 90ms cubic-bezier(0,0,.2,.1);
            border-width: 1px;
            border-style: solid;


            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0px;
            text-align: left;
            color: #555555;
        }
        .animations > i {
            padding: 1px 2px;
            color: #fff;
            opacity: 0;
        }
        input[type="checkbox"]:checked + .animations {
            border-color: #E4375C;
            background: #E4375C;
        }
        input[type="checkbox"]:checked + .animations > i {
            opacity: 1;
        }
    }
}
.remember-password {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: left;
  color: #555555;
}
@media (max-width: 1023px) {
  .card {
    // display: none;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .card {
    margin-top: 10px;
  }
}
