.section-heading {
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: center;
  color: #555555;
}
@media screen and (max-width: 575px) {
  .mobile-padding-0 {
    padding: 0 !important;
  }
}
