<div class="row">
    <section class="col-md-12 team-section text-center" [attr.id]="'target'+elementId">
        <p class="section-heading mb-40">{{title}}</p>
        <div class="row">
            <div class="col-lg-4 col-md-4 mobile-padding-0" *ngFor="let item of services">
                <app-card-service-item [color]="color" [item]="item"></app-card-service-item>
            </div>
        </div>
    </section>
</div>
