<!-- <div class="default-upload" *ngIf="url === '';else localImage"> -->

<label for="fileUpload" class="default-upload {{ classStyle }}" *ngIf="arrayFileUpload.length < 1;else localImage">
    <img src="/assets/images/avatar-defalt.png" class="default-image" alt="{{ 'Network.Avatar' | translate }}">
</label>
<!-- </div> -->
<ng-template #localImage>
    <div class="image-col {{ classStyle }}" *ngFor="let img of arrayFileUpload; let i = index">
        <label for="fileUpload">
            <img *ngIf="img.url != null" [src]="img.url">
        </label>
        <span class="deleteUploaded" (click)="deleteImageUpload(i)">
            <img src="/assets/images/delete-image-uploaded.png" alt="Delete">
        </span>
    </div>
</ng-template>
<div *ngIf="arrayFileUpload.length > 0 && progress.percentage != -1" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
        {{progress.percentage}}%</div>
</div>

<label class="btn btn-default" hidden>
    <input type="file" (change)="selectFile($event)" id="fileUpload" [multiple]="multi">
</label>

<!-- <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button> -->