.view {
  background: url('/assets/images/home-pro-bg.jpg') no-repeat center center;
  background-size: cover;
  height: 600px;
  margin-top: -70px;
  .fadeInUp {
    text-align: center;
  }
  .center-item {
    align-items: center;
  }
  .title {
    font-size: 38px;
    font-weight: 300;
    font-style: inherit;
    font-stretch: normal;
    line-height: 1.46;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 24px;
  }

  .btn-member {
    width: 300px;
    height: 50px;
    border: solid 1px #ffffff !important;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    color: #ffffff !important;
    text-transform: none;
    padding-top: 14px;
    -webkit-appearance: unset;
    border-radius: 0;
  }
}
.desktop-h-600 {
  height: 600px;
}
@media screen and (max-width: 575px) {
  .full-bg-img {
    padding-top: 70px;
  }
  .view {
    height: auto !important;
  }
  .desktop-h-600 {
    height: 450px;
  }
}

@media (max-width: 460px) {
  .view {
    .title {
      font-size: 22px;
    }
  }
}

@media (max-width: 320px) {
  .view {
    .title {
      font-size: 22px;
    }
    .btn-member {
      width: 250px;
    }
  }
}
