form.form-info {
    padding: 5% 11%;
    h2 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.1px;
        // margin-left: -16px;
    }
    p {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.1px;
    }
    .row {
        padding-top: 20px;
    }
    .required {
        color: red;
        font-style: italic;
    }
    .distance-left {
        margin-left: 90px;
    }
    .distance-left-input {
        margin-left: 20px;
    }
    .form-control, .currency {
        font-size: 14px;
    }
    .form-control {
        margin-top: 10px;
    }
    .currency {
        position: relative;
        float: right;
        bottom: 28px;
        right: 10px;
        background-color: #ffffff;
        padding-left: 10px;
    }
    .btn-default:not(:disabled):not(.disabled).active, .btn-default:not(:disabled):not(.disabled):active, .show>.btn-default.dropdown-toggle {
        background-color: #e4375c;
        border-color: #e4375c;
        color: #fff;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-left: 0;
        border-right: 0;
    }
    .btn-default {
        border-color: #aaaaaa;
    }
    .btn-group {
        margin-top: 10px;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;

    }
    .checkbox-section {
        margin-right: 10px;
        label {
            margin-right: 10px;
            input[type="checkbox"] {
                display: none;
            }
            .animations {
                border-radius: 3px;
                border-color: #aaaaaa;
                color: #fff;
                display:inline-block;
                background-color: transparent;
                transition: border-color 90ms cubic-bezier(0,0,.2,.1);
                border-width: 1px;
                border-style: solid;


                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0px;
                text-align: left;
                color: #555555;
            }
            .animations > i {
                padding: 1px 2px;
                color: #fff;
                opacity: 0;
            }
            input[type="checkbox"]:checked + .animations {
                border-color: #E4375C;
                background: #E4375C;
            }
            input[type="checkbox"]:checked + .animations > i {
                opacity: 1;
            }
        }
    }
    .radio-property {
        input[type='radio']:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: 0;
            left: -2px;
            position: relative;
            content: '';
            display: inline-block;
            visibility: visible;
            background-color: #FFFFFF;
            border: solid 1px #AAAAAA;
        }

        input[type='radio']:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: 0;
            left: -2px;
            position: relative;
            background-color: #e4375c;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 1px solid #AAAAAA;
        }
    }
    .hidden {
        display: none !important;
    }
}
.checkbox-info {
    .btn-default.btn {
        min-width: 110px;
    }
}
:host ::ng-deep {
    .landtype {
        .landInput {
            width: 100% !important;
        }
        .ng-select {
            width:  100% !important;
            padding-top: 10px !important;
        }
        .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
            padding: 7px 10px 7px 0px !important;
            border-radius: 5px !important;
            background-color: #3acaaa !important;
            color: #fff !important;
        }
        .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
            background-color: #3acaaa !important;
            color: #fff !important;
        }
        .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
            background: transparent;    
            transform: scale(1.3,1.3);
        }
    }
}

@media screen and (min-width: 992px) {
    .infoRooms {
        .col-12:first-child {
            padding-left: 0;
        }

    }
    .dkt-pl-0 {
        padding-left: 0 !important;
    }
}
