<div class="container-fluid">
    <form class="form-info" [formGroup]="formValues">
        <h2>Information</h2>
        <div class="row m-0 checkbox-info">
            <div>
                <p>Type
                    <span class="required">*</span>
                </p>
                <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="listingType">
                    <label *ngFor="let type of listingType" ngbButtonLabel class="btn-default">
                        <input ngbButton type="radio" value="{{ type.id }}"> {{ type.name }}
                    </label>
                </div>
            </div>
            <div class="distance-left">
                <p>Service type
                    <span class="required">*</span>
                </p>
                <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="serviceId">
                    <div *ngFor="let type of serviceType">
                        <label ngbButtonLabel class="btn-default" [ngClass]="{'hidden': type.id == 3 && formValues.controls['listingType'].value == '2'}">
                            <input hidden ngbButton type="radio" value="{{ type.id }}"> {{ type.name }}
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="row m-0 checkbox-info">
            <div class="w-100">
                <p>Property type
                    <span class="required">*</span>
                </p>
                <div class="btn-group btn-group-toggle" ngbRadioGroup formControlName="cateId" *ngIf="formValues.controls['listingType'].value != 2">
                    <!-- <label *ngFor="let item of propertyTypeList | async; let i = index; let first = first" -->
                    <label *ngFor="let item of propertyTypeList | async" ngbButtonLabel class="btn-default">
                        <input ngbButton type="radio" value="{{ item.id }}"> {{ item.name }}
                    </label>
                </div>
                <div class="attractive-commerical col-12 col-lg-7" *ngIf="formValues.controls['listingType'].value == 2">
                    <div class="row radio-property">
                        <div class="col-3 dkt-pl-0">
                            <label>
                                <input type="radio" value="5" name="cateId" formControlName="cateId">
                                Office
                            </label>
                        </div>
                        <div class="col-3  dkt-pl-0">
                            <label>
                                <input type="radio" value="6" name="cateId" formControlName="cateId">
                                Warehouse/Factory
                            </label>
                        </div>
                        <div class="col-3  dkt-pl-0">
                            <label>
                                <input type="radio" value="7" name="cateId" formControlName="cateId">
                                Shop
                            </label>
                        </div>
                        <div class="col-3  dkt-pl-0">
                            <label>
                                <input type="radio" value="8" name="cateId" formControlName="cateId">
                                Other
                            </label>
                        </div>
                        <div class="col-3  dkt-pl-0">
                            <label>
                                <input type="radio" value="9" name="cateId" formControlName="cateId">
                                Hotel
                            </label>
                        </div>
                        <div class="col-3  dkt-pl-0">
                            <label>
                                <input type="radio" value="10" name="cateId" formControlName="cateId">
                                Restaurant/Bar
                            </label>
                        </div>
                        <div class="col-3  dkt-pl-0">
                            <label>
                                <input type="radio" value="11" name="cateId" formControlName="cateId">
                                Coworking
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div [formGroup]="formComercial" class="col-12 col-lg-6" *ngIf="formValues.controls['listingType'].value == 2">
                <div class="row infoRooms">
                    <div class="col-12 col-lg-6">
                        <div class="checkbox-section">
                            <label for="commercicalFloors">
                                <input type="checkbox" id="commercicalFloors" value="floors">
                                <div class="animations">
                                    <i class="fa fa-check"></i>
                                </div>
                                Floors
                            </label>
                        </div>
                        <input class="form-control" type="number" formControlName="floors" />
                        <div class="required" *ngIf="formComercial.controls.floors.invalid && (formComercial.controls.floors.touched || formComercial.controls.floors.dirty)">Number
                            of Floors is not valid</div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="checkbox-section">
                            <label for="commercicalBathrooms">
                                <input type="checkbox" id="commercicalBathrooms" value="Bathrooms">
                                <div class="animations">
                                    <i class="fa fa-check"></i>
                                </div>
                                Bathrooms
                            </label>
                        </div>
                        <input class="form-control" type="number" formControlName="bathrooms" />
                        <div class="required" *ngIf="formComercial.controls.bathrooms.invalid && (formComercial.controls.bathrooms.touched || formComercial.controls.bathrooms.dirty)">Number
                            of Bathrooms is not valid</div>
                    </div>
                </div>
                <div class="row infoRooms">
                    <div class="col-12 col-lg-6">
                        <div class="checkbox-section">
                            <label for="commercicalgrossFloorArea">
                                <input type="checkbox" id="commercicalgrossFloorArea" value="grossFloorArea">
                                <div class="animations">
                                    <i class="fa fa-check"></i>
                                </div>
                                Gross floor area
                            </label>
                        </div>
                        <input class="form-control" type="text" formControlName="grossFloorArea" placeholder="Input Gross floor area" />
                        <span class="currency">m
                            <sup>2</sup>
                        </span>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="checkbox-section">
                            <label for="commercicallandArea">
                                <input type="checkbox" id="commercicallandArea" value="landArea">
                                <div class="animations">
                                    <i class="fa fa-check"></i>
                                </div>
                                Land area
                            </label>
                        </div>
                        <input class="form-control" type="text" formControlName="landArea" placeholder="Input Land area" />
                        <span class="currency">m
                            <sup>2</sup>
                        </span>
                    </div>
                </div>
            </div>
            <div [formGroup]="formComercial" class="col-12 col-lg-7" *ngIf="formValues.controls['listingType'].value == 1  && formValues.controls['cateId'].value != 4">
                <div class="row infoRooms">
                    <div class="col-12 col-lg-4">
                        <p>Bedrooms
                            <span class="required">*</span>
                        </p>
                        <input class="form-control" type="number" formControlName="bedrooms" />
                        <div class="required" *ngIf="formComercial.controls.bedrooms.invalid && (formComercial.controls.bedrooms.touched || formComercial.controls.bedrooms.dirty)">Number
                            of Bedrooms is not valid</div>
                    </div>
                    <div class="col-12 col-lg-4" *ngIf="formValues.controls['cateId'].value != 2">
                        <p>Floors
                            <span class="required">*</span>
                        </p>
                        <input class="form-control" type="number" formControlName="floors" />
                        <div class="required" *ngIf="formComercial.controls.floors.invalid && (formComercial.controls.floors.touched || formComercial.controls.floors.dirty)">Number
                            of Floors is not valid</div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <p>Bathrooms
                            <span class="required">*</span>
                        </p>
                        <input class="form-control" type="number" formControlName="bathrooms" />
                        <div class="required" *ngIf="formComercial.controls.bathrooms.invalid && (formComercial.controls.bathrooms.touched || formComercial.controls.bathrooms.dirty)">Number
                            of Bathrooms is not valid</div>
                    </div>
                </div>
            </div>
            <div [formGroup]="formComercial" class="col-12 col-lg-7" *ngIf="formValues.controls['listingType'].value == 1  && formValues.controls['cateId'].value != 4">
                <div class="row infoRooms">
                    <div class="col-12 col-lg-4">
                        <p>Gross floor area
                            <span class="required">*</span>
                        </p>
                        <input class="form-control" type="text" placeholder="Input Gross floor area" formControlName="grossFloorArea" />
                        <span class="currency">m
                            <sup>2</sup>
                        </span>
                        <div class="required" *ngIf="formComercial.controls.grossFloorArea.invalid && (formComercial.controls.grossFloorArea.touched || formComercial.controls.grossFloorArea.dirty)">Gross
                            Floor Area is not valid</div>
                    </div>
                    <div class="col-12 col-lg-4" *ngIf="formValues.controls['cateId'].value != 2">
                        <p>Land area
                            <span class="required">*</span>
                        </p>
                        <input class="form-control" type="text" placeholder="Input Land area" formControlName="landArea" />
                        <span class="currency">m
                            <sup>2</sup>
                        </span>
                        <div class="required" *ngIf="formComercial.controls.landArea.invalid && (formComercial.controls.landArea.touched || formComercial.controls.landArea.dirty)">Gross
                            Floor Area is not valid</div>
                    </div>
                </div>
            </div>
        </div>

        <div [formGroup]="formComercial" class="row m-0" *ngIf="formValues.controls['listingType'].value == 1  && formValues.controls['cateId'].value == 4">
            <div class="w-100">
                <div class="col-12 col-lg-8 landtype">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="row pt-0">
                                <p>Land type
                                    <span class="required">*</span>
                                    <span>(Select 1 or more type)</span>
                                </p>
                                <ng-select [items]="landtypes" [addTag]="addTag" [hideSelected]="true" multiple="true"
                                    bindValue="id" bindLabel="title" formControlName="landType">
                                </ng-select>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4">
                            <p>Land area
                                <span class="required">*</span>
                            </p>
                            <input class="form-control" type="number" formControlName="landArea" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [formGroup]="formFurnished" class="row m-0" *ngIf="formValues.controls['listingType'].value == 1 && (formValues.controls['serviceId'].value == 3 || formValues.controls['serviceId'].value == 1) && formValues.controls['cateId'].value != 4">
            <div class="checkbox-section">
                <label for="furnished">
                    <input type="checkbox" id="furnished" value="Furnished" formControlName="furnished">
                    <div class="animations">
                        <i class="fa fa-check"></i>
                    </div>
                    Furnished
                </label>
            </div>
            <div class="checkbox-section">
                <label for="parking">
                    <input type="checkbox" id="parking" value="Parking" formControlName="parking">
                    <div class="animations">
                        <i class="fa fa-check"></i>
                    </div>
                    Parking
                </label>
            </div>
            <div class="checkbox-section">
                <label for="petallowed">
                    <input type="checkbox" id="petallowed" value="Pet allowed" formControlName="petAllowed">
                    <div class="animations">
                        <i class="fa fa-check"></i>
                    </div>
                    Pet allowed
                </label>
            </div>
        </div>
        <div [formGroup]="formFurnished" class="row m-0" *ngIf="formValues.controls['listingType'].value ==  2">
            <div class="checkbox-section">
                <label for="parking">
                    <input type="checkbox" id="parking" value="Parking" formControlName="parking">
                    <div class="animations">
                        <i class="fa fa-check"></i>
                    </div>
                    Parking
                </label>
            </div>
        </div>
        <div [formGroup]="formFurnished" class="row m-0" *ngIf="formValues.controls['listingType'].value == 1  && formValues.controls['cateId'].value == 4">
            <div class="checkbox-section">
                <label for="dirctRoad">
                    <input type="checkbox" id="dirctRoad" value="Direct road access for car" formControlName="accessForCar">
                    <div class="animations">
                        <i class="fa fa-check"></i>
                    </div>
                    Direct road access for car
                </label>
            </div>
            <div class="checkbox-section">
                <label for="landSharing">
                    <input type="checkbox" id="landSharing" value="Land sharing accepted" formControlName="landSharing">
                    <div class="animations">
                        <i class="fa fa-check"></i>
                    </div>
                    Land sharing accepted
                </label>
            </div>
        </div>
    </form>
</div>