<div class="header-listing">
	<div class="container">
		<div class="list-cate">
			<span class="cate-f"><a routerLink="/listing-agency" [ngClass]="{'active': active == 'all'}">All listing ({{
					listingTotal?.listing }}) </a></span>
			<span class="cate-f"><a routerLink="/listing-agency/relist" [ngClass]="{'active': active == 'relist'}">Relist ({{
					listingTotal?.relist }})
				</a></span>
			<span class="cate-f"><a routerLink="/listing-agency/promotion" [ngClass]="{'active': active == 'promotion'}">Promotion
					({{ listingTotal?.promotion }})</a></span>
		</div>
	</div>
</div>