<div class="card">
    <div [ngStyle]="{'background-color': color}" class="divide"></div>
    <!--Card content-->
    <div class="card-body">
        <div *ngIf="item.oldPrice" class="sale"></div>
        <!--Title-->
        <p class="service-title">{{item.title}}</p>
        <div>
            <span [ngStyle]="{'color': color}" class="price">{{ item.price?.value }}</span>
            <span *ngIf="item.oldPrice" class="old-price"><del>{{ item.oldPrice }}</del></span>
        </div>
        <hr />
        <!--Text-->
        <ul [ngClass]="{'orange': color == '#f5a623', 'blue': color == '#3791b6'}">
            <li style="{'color':color}" *ngFor="let element of item.listContent">
                <span [ngClass]="{'opacity': element.show == 0}">{{ element.value ? element.value : '' }}</span>
            </li>
        </ul>
        <div class="text-center pt-4 mt-3 pb-0">
            <!-- <a href="#" class="btn btn-primary waves-light btn-dark" mdbWavesEffect>Use this package</a> -->
            <div class="text-center">
                <img src="assets/images/use-this-package.png" alt="" style="max-width:100%;">
            </div>
        </div>
    </div>

</div>