.sale {
  display: inline-block;
  background: url('/assets/sprites/sprite-home-pro.png') no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.card {
  text-align: left !important;
  .divide {
    height: 7px;
  }
  .service-title {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: #555555;
  }
  .price {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    padding-top: 6px;
    display: block;
  }
  .old-price {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #aaaaaa;
    margin-left: 10px;
  }
  ul {
    list-style-type: none;
    position: relative;
    padding-left: 0;
    li {
      position: relative;
      padding-left: 15px;
      span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.14;
        text-align: left;
        color: #555555;
      }
      span.opacity {
        color: #ccc !important;
      }
    }
    li::before {
      content: '•';
      color: #3acaaa;
      position: absolute;
      left: 0;
      vertical-align: middle;
      font-size: 20px;
      top: 10%;
    }
  }
  ul.orange {
    li::before {
      content: '•';
      color: #f5a623;
      position: absolute;
      left: 0;
      vertical-align: middle;
      font-size: 20px;
    }
  }
  ul.blue {
    li::before {
      content: '•';
      color: #3791b6;
      position: absolute;
      left: 0;
      vertical-align: middle;
      font-size: 20px;
    }
  }
  .sale {
    background-position: -0px -2565px;
    width: 62px;
    height: 75px;
    position: absolute;
    right: -5px;
    top: 10px;
  }
  .btn-dark {
    background-color: #555555;
    padding: 10px 50px;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
    text-transform: none;
  }
}

@media (max-width: 768px) {
  .card {
    .price {
      font-size: 11px;
    }
    .old-price {
      font-size: 8px;
    }
    .btn-dark {
      font-size: 12px;
    }
  }
}
@media screen and (max-width: 575px) {
  .card {
    .sale {
      right: 0;
    }
  }
}
@media (max-width: 460px) {
  .card {
    margin-bottom: 25px;
    .price {
      font-size: 20px;
    }
    .old-price {
      font-size: 9px;
    }
    .btn-dark {
      font-size: 16px;
    }
  }
}
