<!--Footer-->
<!-- <footer class="page-footer mdb-color text-center text-md-left pt-4 mt-4">

    Footer Links
    <div class="container" style="padding-bottom: 10px;">
        <div class="row">
            <div class="col-md-8 rules">
                <a href="#">About</a>
                <a href="#">Teams of Use</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Operational Regulations</a>
                <div>
                    <p class="limited">Hosiana Vietnam Company Limited</p>
                    <p class="address">318 Nguyễn Xiển, khu phố Gò Công, phường Long Thạnh Mỹ, quận 9, Tp Hồ Chí Minh</p>
                </div>
            </div>
            <div class="col-md-4 right-footer">
                <ul class="list-unstyled list-inline">
                    <li class="list-inline-item">
                        Follow us
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
                            <i class="fa fa-facebook"> </i>
                        </a>
                        &nbsp;
                        <a class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
                            <i class="fa fa-twitter"> </i>
                        </a>
                        &nbsp;
                        <a class="btn-floating btn-small btn-gplus waves-light" mdbWavesEffect>
                            <i class="fa fa-google-plus"> </i>
                        </a>
                        &nbsp;
                        <a class="btn-floating btn-small btn-li waves-light" mdbWavesEffect>
                            <i class="fa fa-linkedin"> </i>
                        </a>
                    </li>
                </ul>
                <ul class="list-unstyled list-inline list-contact-bottom">
                    <li class="list-inline-item">
                        contact@hosiana.vn
                    </li>
                    <li class="list-inline-item">
                        08.88.159.798
                    </li>
                </ul>
            </div>
        </div>
    </div>
    /.Footer Links
    Copyright
    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © Hosiana 2017 - 2018
        </div>
    </div>
    /.Copyright

</footer> -->
<!--/.Footer-->


<footer class="page-footer text-center text-md-left pt-4 mt-4">
    <div class="container">
        <div class="header-footer">
            <div class="row m-0">
                <div class="col-12 col-sm-2">
                    <div class="title-links">Abouts us</div>
                    <div class="content-link">
                        <ul>
                            <li>
                                <span class="link-footer">About HOSIANA</span>
                            </li>
                            <li>
                                <span class="link-footer">Pro Stories</span>
                            </li>
                            <li>
                                <span class="link-footer">Pro Education</span>
                            </li>
                            <li>
                                <span class="link-footer">Contact us</span>
                            </li>
                            <li>
                                <span class="link-footer">Careers</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="title-links">FAQ</div>
                    <div class="content-link">
                        <ul>
                            <li>
                                <span class="link-footer">Learn more about Agency</span>
                            </li>
                            <li>
                                <span class="link-footer">Learn more about Home Service Provider</span>
                            </li>
                            <li>
                                <span class="link-footer">Learn more about Broker</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="title-links">Service</div>
                    <div class="content-link">
                        <ul>
                            <li>
                                <span class="link-footer">Agency</span>
                            </li>
                            <li>
                                <span class="link-footer">Brokers</span>
                            </li>
                            <li>
                                <span class="link-footer">Home Service Provider</span>
                            </li>
                            <li>
                                <span class="link-footer">Project Developer</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="title-links">Make money with us</div>
                    <div class="content-link">
                        <ul>
                            <li>
                                <span class="link-footer">Grow your Professional Network</span>
                            </li>
                            <li>
                                <span class="link-footer">Advertise your Properties</span>
                            </li>
                            <li>
                                <span class="link-footer">Advertise your Home Service Provider</span>
                            </li>
                            <li>
                                <span class="link-footer">Advertise your Project</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> 
        <div class="content-footer">
            <div class="row m-0">
                <div class="col-12 col-sm-6">
                    <div class="header-footer-text">
                        <p>Giấy chứng nhận Đăng Ký Doanh Nghiệp số 0314218864. </p>
                        <p>Ngày cấp 25/01/2017. Cơ quan cấp: Sở kế hoạch và Đầu tư Thành phố Hồ Chí Minh</p>
                    </div>
                    <div class="certificate-image">
                        <img src="assets/images/bocongthuong.png" alt="Certificate">
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="link-contact">
                        <p>
                            <span><img src="assets/images/phone-footer.png" alt="Phone"></span>
                            <span class="title-contact">08.88.159.789</span>
                        </p>
                        <p>
                            <span><img src="assets/images/mail-footer.png" alt="Email"></span>
                            <span class="title-contact">contact@hosiana.vn</span>
                        </p>
                        <p>318 Nguyễn Xiển, Khu phố Gò Công, Long Thạnh Mỹ, Quận 9, TP Hồ Chí Minh</p>
                    </div>
                </div>
                <div class="col-12 col-sm-2">
                    <div class="logo-footer">
                        <img src="assets/images/logo.svg" alt="Logo">
                    </div>
                    <div class="social">
                        <div class="title-social">Follow us</div>
                        <div class="list-social">
                            <span><img src="assets/images/facebook.png" alt="Facebook"></span>
                            <span><img src="assets/images/in.png" alt="Linkedin"></span>
                            <span><img src="assets/images/photo.png" alt="Instagram"></span>
                            <span><img src="assets/images/zalo.png" alt="Zalo"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div>
    <div class="footer-copyright text-center">
        <span>Privacy Policy</span>
        <span>Operational</span>
        <span>Regulations</span>
        <span>Dispute</span>
        <span>Resolution</span>
        <span>Mechaniem</span>
    </div>
</footer>