<div class="container-fluid" [formGroup]="formValues">
    <form class="form-facilities">
        <h2>Facilities & Amentilies</h2>
        <div class="row form-content m-0">
            <div class="col-md-6" *ngFor="let type of facilityList | async">
                <h3 *ngIf="type.id !== 3" class="title-fa">{{ type.name }}</h3>
                <ng-container *ngFor="let sub of type.sub">
                    <p>{{ sub.name }}</p>
                    <hr />
                    <div class="row">
                        <div class="col-4" *ngFor="let item of sub.items">
                            <div class="checkbox-section">
                                <label>
                                    <input (click)="handleCheck($event)" type="checkbox" value="{{ item.id }}">
                                    <div class="animations"><i class="fa fa-check"></i></div>
                                    {{ item.name }}
                                </label>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </form>
</div>
