form.form-facilities {
    padding: 5% 11%;
    h2 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.1px;
    }
    p {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.1px;
    }
    .title-fa {
        font-size: 20px;
        font-weight: bold;

    }
    .row {
        padding-top: 20px;
    }
    .required {
        color: red;
        font-style: italic;
    }
    .form-content {
        margin-left: -30px;
        p {
            padding-top: 20px;
        }
        p:first-child {
            padding-top: 0px;
        }
        .list-project {
            color: #3acaaa;
            font-size: 14px;
        }
    }
    .checkbox-section {
        margin-right: 10px;
        label {
            margin-right: 10px;
            margin-bottom: 1rem;
            input[type="checkbox"] {
                display: none;
            }
            .animations {
                border-radius: 3px;
                border-color: #aaaaaa;
                color: #fff;
                display:inline-block;
                background-color: transparent;
                transition: border-color 90ms cubic-bezier(0,0,.2,.1);
                border-width: 1px;
                border-style: solid;


                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0px;
                text-align: left;
                color: #555555;
            }
            .animations > i {
                padding: 1px 2px;
                color: #fff;
                opacity: 0;
            }
            input[type="checkbox"]:checked + .animations {
                border-color: #E4375C;
                background: #E4375C;
            }
            input[type="checkbox"]:checked + .animations > i {
                opacity: 1;
            }
        }
    }
}
