@import '../../../../../assets/styles/variables.scss';

main {
    h1 {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.1px;
        color: #555555;
        margin: 50px 0 30px 0;
        padding-left: 11%;
    }

    .container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .list-category {
        border-bottom: 1px solid #aaaaaa;
        padding-bottom: 10px;
    }

    .odd {
        background-color: #f9f9f9;
    }

    .buttons-segment {
        position: relative;
        float: right;
    }

    .btn {
        text-transform: capitalize;
    }

    .btn-pink {
        background-color: #e4375c !important;
    }

    .btn-white {
        color: #555555 !important;
    }

    .buttons-segment {
        padding: 0 5%;
        width: 100%;
        display: block;
        text-align: right;
    }

    .next {
        font-size: 14px;
        padding: 10px 25px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.1px;
        outline: none;
        text-align: center;
        font-weight: bold;
        color: #ffffff;
        border: 0;
        background: linear-gradient(to right, #ee005d, #fd3591);
        margin-left: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .next:disabled {
        background: gray;
        cursor: not-allowed;
    }

    .save {
        font-size: 14px;
        padding: 10px 35px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.1px;
        outline: none;
        text-align: center;
        background: #fff;
        border: 1px solid #aaaaaa;
        margin-left: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav {
        background-color: initial;
    }

    .nav-tabs {
        padding-left: 11%;

        .nav-link {
            border: 0;
            font-size: 18px;
            font-weight: bold;

            &.active {
                border-bottom: 2px solid $green-color;
                color: $green-color;
            }
        }
    }

    .btn-group {
        .btn {
            border-radius: 0;
        }
    }
}
