<main class="py-5 mt-5">
    <div class="container-fluid">
        <h1>NEW LISTING</h1>
    </div>
    <ngb-tabset #tabSet="ngbTabset" (tabChange)="handleChangeTab($event)">
        <ngb-tab id="tab-details">
            <ng-template ngbTabTitle>Details</ng-template>
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <div>
                        <app-add-listing-detail [formValues]="formValues" [formComercial]="formComercial"
                            [formFurnished]="formFurnished" [propertyTypeList]="categories" [facilityList]="facilities"
                            [exchangeRates]="exchangeRates" [projects]="projects" [cities]="cities" [districts]="districts"
                            [wards]="wards"
                            [geoCode]="geoCode"
                            [agencyStaffs]="agencyStaffs"></app-add-listing-detail>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-promote">
            <ng-template ngbTabTitle>Promote</ng-template>
            <ng-template ngbTabContent>
                <div class="container-fluid">
                    <div>
                        <app-add-listing-promote [formValues]="formValues" [promotions]="promotions"></app-add-listing-promote>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <hr />
    <div *ngIf="step === 'tab-details'" class="buttons-segment">
        <button [disabled]="!formValues.valid" (click)="handleGoToStep($event, tabSet, 'tab-promote')" class="next">Next</button>
        <button (click)="handleCancel($event)" class="save">Cancel</button>
        <button (click)="handleSaveAsDraft($event)" class="save">Save as Draft</button>
    </div>
    <div *ngIf="step === 'tab-promote'" class="buttons-segment">
        <button (click)="handleGoToStep($event, tabSet, 'tab-details')" class="save">Back</button>
        <button (click)="handlePublish($event)" class="next">Publish</button>
        <button (click)="handleCancel($event)" class="save">Cancel</button>
        <button (click)="handleSaveAsDraft($event)" class="save">Save as Draft</button>
    </div>
</main>
