<div class="container-fluid" [formGroup]="formValues">
    <form class="form-price" formGroupName="price">
        <h2>Price</h2>
        <select (change)="onChangeCurrency($event.target.value)" formControlName="unitCurrency" class="form-control select-currency">
            <option value="vnd" selected>VNĐ</option>
            <option value="usd">USD</option>
        </select>
        <div style="clear:both;"></div>
        <div class="row">
            <div class="col-12">
                <div class="row padleftfirst">
                    <div class="col-12 col-lg-4">
                        <p>Price
                            <span class="required">*</span>
                        </p>
                        <input (change)="onChangePrice($event.target.value)" class="form-control" type="text" formControlName="mainPrice" placeholder="Input Price" />
                        <span class="currency">million</span>
                        <p class="price-transfer pt-2">{{priceInput}} {{priceInputDollar ? ' - ' : '' }} {{priceInputDollar ? (priceInputDollar | number) : ''}} {{priceInputDollar ? '$' : ''}}</p>
                        <div class="required" *ngIf="formValues.controls.price.controls.mainPrice.invalid && (formValues.controls.price.controls.mainPrice.dirty || formValues.controls.price.controls.mainPrice.touched)">Price is not valid</div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <p>Deposit</p>
                        <input (change)="onChangeDeposit($event.target.value)" class="form-control" type="number" formControlName="deposit" placeholder="Input Deposit" />
                        <span class="currency">million
                        </span>
                        <p class="deposit-transfer pt-2">{{depositInputDollar ? (depositInputDollar | number) + '$' : ''}}</p>
                    </div>
                    <div class="col-12 col-lg-4">
                        <p>Deposit
                        </p>
                        <input (change)="onChangeDepositMeter($event.target.value)" class="form-control" type="number" formControlName="deposit" placeholder="Input Deposit" />
                        <span class="currency">million/m<sup>2</sup>
                        </span>
                        <p class="deposit-transfer pt-2">{{depositInputDollarMeter ? (depositInputDollarMeter | number) + '$' : ''}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="row padleftfirst">
                    <div class="col-12 col-lg-6">
                        <p>Management fee
                        </p>
                        <input (change)="onChangeManageFee($event.target.value)" class="form-control" type="text" placeholder="Input Management fee" formControlName="manageFee" />
                        <span class="currency">million/month
                        </span>
                        <p class="fee-transfer pt-2">{{manageFeeInputDollar ? (manageFeeInputDollar | number) + '$/month' : ''}}</p>
                    </div>
                    <div class="col-12 col-lg-6">
                        <p>Rental recorded in the neighborthood
                        </p>
                        <input (change)="onChangeRentalRecorded($event.target.value)" class="form-control" type="text" placeholder="Input Rental recorded" formControlName="rentalNext" />
                        <span class="currency">million
                        </span>
                        <p class="rental-transfer pt-2">{{rentalRecorded ? (rentalRecorded | number) + '$' : ''}}</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row pl-0 pt-3 pb-2">
            <div class="checkbox-section">
                <label for="f1">
                    <input type="checkbox" id="f1" value="1" formControlName="includeFee">
                    <div class="animations">
                        <i class="fa fa-check"></i>
                    </div>
                    Price includes management fee
                </label>
            </div>
            <div class="checkbox-section">
                <label for="f2">
                    <input type="checkbox" id="f2" value="1" formControlName="loanSupport">
                    <div class="animations">
                        <i class="fa fa-check"></i>
                    </div>
                    Loan
                </label>
            </div>
        </div>
        <div class="exchange-rate">* Exchange rate: 1USD = {{ (exchangeRates | async)?.exchangeRate | number }} VND -
            {{ (exchangeRates | async)?.startDate | date:'medium' }}</div>
        <!-- 17/04/2017 at 17:10</div> -->
    </form>
</div>
