form.form-price {
    padding: 5% 11%;
    h2 {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.1px;
        // margin-left: -16px;
    }
    p {
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 0.1px;
    }
    .row {
        padding-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }
    .padleftfirst {
        margin-left: -15px !important;
        margin-right: -15px !important;
    }
    .required {
        color: red;
        font-style: italic;
    }
    .distance-left {
        margin-left: 90px;
    }
    .distance-left-input {
        margin-left: 20px;
    }
    .form-control, .currency {
        font-size: 14px;
    }
    .form-control {
        margin-top: 10px;
    }
    .currency {
        position: relative;
        float: right;
        bottom: 28px;
        right: 10px;
        background-color: #ffffff;
        padding-left: 10px;
    }
    .select-currency {
        width: 78px;
        float: left;
        margin-top: -40px;
        margin-left: 72px;
        background-position-x: 87% !important;
    }
    .price-transfer {
        color: #3acaaa;
        padding-top: 7px;
    }
    .price-transfer, .deposit-transfer, .fee-transfer, .rental-transfer {
        font-size: 12px;
        letter-spacing: 0px;
    }
    .exchange-rate {
        font-size: 12px;
        font-style: italic;
        letter-spacing: 0px;
        color: #ff001f;
    }
    .checkbox-section {
        margin-right: 10px;
        label {
            margin-right: 10px;
            input[type="checkbox"] {
                display: none;
            }
            .animations {
                border-radius: 3px;
                border-color: #aaaaaa;
                color: #fff;
                display:inline-block;
                background-color: transparent;
                transition: border-color 90ms cubic-bezier(0,0,.2,.1);
                border-width: 1px;
                border-style: solid;


                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 0px;
                text-align: left;
                color: #555555;
            }
            .animations > i {
                padding: 1px 2px;
                color: #fff;
                opacity: 0;
            }
            input[type="checkbox"]:checked + .animations {
                border-color: #E4375C;
                background: #E4375C;
            }
            input[type="checkbox"]:checked + .animations > i {
                opacity: 1;
            }
        }

    }
}
@media screen and (min-width: 992px) {
    .padleftfirst .col-12:first-child {
        padding-left: 0;
    }
}
